.App {
  text-align: center;
}

body{
  margin: 0%;
  border: 5px gold solid;
}

div#app{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr 10fr 10fr 10fr;
  grid-template-areas: "header"
                       "chat"
                       "chat"
                       "chat";
  border: 5px brown solid;
  justify-content: stretch;
  align-content: stretch;
  min-height: 800px;
}
