div#chat-view{
    display: grid;
    grid-area: chat;
    grid-template-rows: 1fr repeat(2, 2fr);
    grid-template-columns: 1fr;
    grid-template-areas: "chat-message"
                         "messages"
                         "messages";
    justify-content: stretch;
    align-content: stretch;
}

form#chat-message{
    display: grid;
    grid-area:chat-message;
    justify-items: center;
    align-items: center;
    color: deeppink;
}

div#messages{
    display: grid;
    grid-area: messages;
    border: solid 5px deeppink;
    border-radius: 30px;
    justify-items: center;
    align-items: flex-start;
    row-gap: 10px;
    grid-auto-rows: min-content;
}

input[type="text"]#message{
    border: solid 5px purple;
    border-radius: 30px;
    height: 20px;
    outline: none;
}

button#chat{
    border: 3px solid purple;
    border-radius: 10%;
    background-color: transparent;
    color: purple
}