div#login-view{
    display: grid;
    justify-items: center;
    align-items: baseline;
}

button#login-button{
    background-color: transparent;
    border: 3px solid purple;
    border-radius: 10%;
    color: purple;
}